body {
    #main-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }
    .img-container-horizontal {
        display: flex;
        background-color: teal;
        width: 45vw;
        height: 47.5vh;
        margin-top: 5vh;
        align-self: center;
    }
    .img-container-vertical {
        display: flex;
        align-self: center;
        grid-row: span 2;
        background-color: violet;
        width: 45vw;
        height: 100vh;
        margin-top: 5vh;
    }
}