@font-face {
    font-family: 'Fernanta';
    src: url('../fonts/FERNANTA.ttf') format('truetype');
    /* You can include other font formats (e.g., woff, woff2) for better browser compatibility */
}

@font-face {
    font-family: 'gary_script';
    src: url('../fonts/gary_script.ttf') format('truetype');
    /* You can include other font formats (e.g., woff, woff2) for better browser compatibility */
}

@font-face {
    font-family: 'Zector';
    src: url('../fonts/Zector.ttf') format('truetype');
    /* You can include other font formats (e.g., woff, woff2) for better browser compatibility */
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Abril+Fatface&display=swap');

@mixin align-center {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

* {
    margin: 0px;
    padding: 0px;
}

/* colori base */
$marrone: #3d2419;
$marrone-chiaro: darken(#e6947c, 50%);
$pesca-scuro: #f7b797;
$pesca-chiaro: #fad8c4;
$grigio-chiaro: #f8f4f1;
$grigio-scuro: #cfcdcb;

/* colori aggiuntivi */
$verde-scuro: #006d32;
$verde-chiaro: #a3ff84;
$blu-scuro: #0a2c4f;
$giallo-scuro: #ffd700;
$arancione-scuro: #ff5733;
$arancione-chiaro: #ffb46e;

body {
    display: flex;
    flex-direction: column;

    .loader {
        display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100vw;
        height: 100vh;
        background-color: #f7b797;
        align-items: center;
        justify-content: center;

        .v {
            display: flex;
            flex-direction: column;
        }

        p {
            display: flex;
            align-self: center;
            font-family: 'Zector', sans-serif;
            font-size: 50px;
        }

        .progress-bar {
            width: 50vw;
            background-color: $grigio-chiaro;
            height: 20px;
            border-radius: 10px;
            overflow: hidden;
            margin-top: 20px;

            .progress {
                width: 0%;
                height: 100%;
                background-color: $arancione-chiaro;
            }
        }

        .progress-bar.mobile {
            width: 85vw;
        }
    }

    #homepage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        object-fit: cover;

        #bg {
            width: 100vw;
            height: 100vh;
            object-fit: cover;
        }

        #menu {
            z-index: 3;
            opacity: 0;
            transition: opacity 1.5s ease-in-out;
            position: absolute;
            justify-content: center;
            position: absolute;
            top: 8vh;
            display: flex;
            font-size: 25px;

            p {
                color: $pesca-chiaro;
            }
        }

        #menu.mobile {
            flex-direction: column;
            top: 18px;
            text-align: center;

            p {
                height: 8px;
                overflow: hidden;
                opacity: 0;
            }
        }

        #name {
            display: flex;
            justify-content: center;
            align-items: center;

            .v {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            h1 {
                opacity: 0;
                transition: opacity 1.5s ease-in-out;
                font-family: 'Abril Fatface';
                letter-spacing: 8px;
                text-align: center;
                font-size: 70px;
                color: white;

            }

            h2 {
                opacity: 0;
                font-family: "Quicksand";
                text-align: center;
                font-weight: 100;
                letter-spacing: 12px;
                font-size: 35px;
                color: white;
                /* text-shadow: 2px 2px $marrone; */
            }

            img {
                opacity: 0;
                transition: opacity 1s ease-in-out;
            }
        }

        #name.mobile {
            flex-direction: column;
            position: absolute;
            top: 150px;

            h1 {
                font-size: 50px;
            }

            h2 {
                font-size: 22px;
            }

            img {
                margin-top: 10px;
                height: 65px;
                overflow: hidden;
            }
        }

        #name.desktop {
            flex-direction: row;
            position: absolute;
            top: 15vh;

            img {
                height: 100px;
                margin-right: 40px;
                margin-top: 20px;
            }
        }

        .scroll-link {
            position: relative;
            color: white;
            font-family: 'Quicksand', sans-serif;
            font-weight: 100;
            letter-spacing: 2px;
            text-decoration: none;
            z-index: 3;
        }

        .scroll-link.desktop {
            font-size: 20px;
            padding-left: 20px;
            padding-right: 20px;

            &:hover {
                font-weight: 400;
                color: #e6947c;
                text-shadow: 1px 1px white;
            }
        }

        .scroll-link.mobile {
            font-size: 20px;
        }
    }

    .container {
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 200px;
        width: 100vw;
        height: 100vh;
        transition: height 0.7s ease-in-out;

        .h {
            display: flex;
            flex-direction: row;
        }

        .v {
            display: flex;
            flex-direction: column;
        }

        .group {
            touch-action: pan-y;
            z-index: -1;
            width: 100vw;
            height: 100vh;
            position: relative;
            transform-style: preserve-3d;
        }

        #bg {
            width: 100vw;
            height: 100vh;
            object-fit: cover;
        }

        .caption {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            background-color: $grigio-chiaro;
            font-family: 'Abril Fatface';
        }

        #portfolio {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $grigio-chiaro;

            .image-container {
                overflow: hidden;
                position: relative;
                display: inline-block;
                justify-content: center;
                align-items: center;
                width: 0%;
                height: 100%;
                transition: all 1s;
            }

            .image-container img {
                width: 100%;
                height: 100%;
                opacity: 0;
                object-fit: cover;
                transition: filter 0.3s ease, opacity 1s ease;
            }

            .text-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
                color: transparent;
                display: flex;
                font-family: 'Abril fatface';
                justify-content: center;
                align-items: center;
                font-size: 70px;
                color: #e6947c;
                letter-spacing: 5px;
                opacity: 0;
                transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
                cursor: pointer;
            }

            #start.desktop {
                width: 100%;
                height: 100%;
                transition: all 1s;
            }

            #caption.desktop {
                width: 100%;
                height: 100%;
                transition: all 1s;
            }

            #second.desktop {
                width: 100%;
                height: 0%;
                transition: all 1s;
            }

            h1 {
                font-size: 70px;
                color: #e6947c;
                letter-spacing: 5px;
            }

            #second.mobile {
                height: 67%;
            }

            #start.mobile {
                height: 33%;
            }

            #caption.mobile {
                height: 0%;
                overflow: hidden;
            }

            .h.mobile {
                flex-direction: column;
            }

            .image-container.mobile {
                overflow: hidden;
                position: relative;
                display: inline-block;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                transition: all 1s;
            }

            .image-container img.mobile {
                width: 100%;
                height: 100%;
                opacity: 1;
                object-fit: cover;
            }

            .text-overlay.mobile {
                font-size: 30px;
                color: $pesca-chiaro;
                letter-spacing: 4px;
                align-items: end;
                justify-content: end;
                margin-bottom: 20px;
                margin-right: 20px;
                transition: opacity 1s ease-in;
            }
        }

        #portfolio.mobile {
            flex-direction: column;
        }

        #about {
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            background-color: #cfcdcb;
            justify-content: center;
            align-items: center;

            img {
                height: 80vh;
            }

            .h {
                overflow: hidden;
                background-color: #f8f4f1;
                margin-left: 5vw;
                margin-right: 5vw;
                width: 100%;
            }

            #descrizione {
                transition: height 1s ease-out;
                display: flex;
                position: relative;
                width: 100%;
                height: 100%;
                flex-direction: column;
                font-family: 'Quicksand', sans-serif;
                align-items: center;
                justify-content: center;
                text-align: center;

                h1 {
                    padding-top: 10%;
                    transition: font-size 2.5s ease-in-out, opacity 2.5s ease-in-out;
                    font-family: 'Abril fatface', sans-serif;
                    font-size: 130px;
                    font-weight: 700;
                    opacity: 0.85;
                }

                h2 {
                    opacity: 0;
                    transition: opacity 1s ease-in;
                    font-size: 45px;
                    padding-top: 10px;
                    font-weight: 400;
                    padding-bottom: 20px;
                }

                p {
                    opacity: 0;
                    transition: opacity 1s ease-in, padding-top 1s ease-out;
                    font-size: 19px;
                    padding-top: 5px;
                    font-weight: 200;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }

        #contatti {
            @include align-center;
            background-color: #ffd700;
        }

        #prodotti {
            @include align-center;
            background-color: #a3ff84;
        }

        #link {
            font-size: 25px;
            @include align-center;
            justify-content: end;

            a {
                padding-top: 15px;
                color: $blu-scuro;
                font-family: 'Zector', sans-serif;
                text-decoration: none;
                font-weight: 900;

                &:hover {
                    text-shadow: 1px 1px $blu-scuro;
                    color: rgb(7, 85, 85);
                }
            }
        }

        footer {
            color: black;
            font-family: 'Zector', sans-serif;
        }
    }
}