@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Abril+Fatface&display=swap");
@font-face {
  font-family: "Fernanta";
  src: url("../fonts/FERNANTA.ttf") format("truetype");
  /* You can include other font formats (e.g., woff, woff2) for better browser compatibility */
}
@font-face {
  font-family: "gary_script";
  src: url("../fonts/gary_script.ttf") format("truetype");
  /* You can include other font formats (e.g., woff, woff2) for better browser compatibility */
}
@font-face {
  font-family: "Zector";
  src: url("../fonts/Zector.ttf") format("truetype");
  /* You can include other font formats (e.g., woff, woff2) for better browser compatibility */
}
* {
  margin: 0px;
  padding: 0px;
}

/* colori base */
/* colori aggiuntivi */
body .loader {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #f7b797;
  align-items: center;
  justify-content: center;
}
body .loader .v {
  display: flex;
  flex-direction: column;
}
body .loader p {
  display: flex;
  align-self: center;
  font-family: "Zector", sans-serif;
  font-size: 50px;
}
body .loader .progress-bar {
  width: 50vw;
  background-color: #f8f4f1;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
}
body .loader .progress-bar .progress {
  width: 0%;
  height: 100%;
  background-color: #ffb46e;
}
body .loader .progress-bar.mobile {
  width: 85vw;
}
body .container {
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 200px;
  width: 100vw;
  height: 0vh;
  transition: height 0.7s ease-in-out;
}
body .container .h {
  display: flex;
  flex-direction: row;
}
body .container .v {
  display: flex;
  flex-direction: column;
}
body .container .group {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: relative;
  transform-style: preserve-3d;
}
body .container #bg {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
body .container .caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f8f4f1;
  font-family: "Abril Fatface";
}
body .container .scroll-link {
  position: relative;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  z-index: 3;
}
body .container .scroll-link.desktop {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
body .container .scroll-link.desktop:hover {
  font-weight: 400;
  color: #e6947c;
  text-shadow: 1px 1px white;
}
body .container .scroll-link.mobile {
  font-size: 20px;
}
body .container #homepage {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transform: translateZ(-200px) scale(2);
  z-index: 1;
}
body .container #homepage #bg {
  width: 100%;
  height: 100%;
  z-index: -1;
  padding-bottom: 0px;
}
body .container #homepage #menu {
  z-index: 3;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  position: absolute;
  justify-content: center;
  position: absolute;
  top: 8vh;
  display: flex;
  font-size: 25px;
}
body .container #homepage #menu p {
  color: #fad8c4;
}
body .container #homepage #menu.mobile {
  flex-direction: column;
  top: 18px;
  text-align: center;
}
body .container #homepage #menu.mobile p {
  height: 8px;
  overflow: hidden;
  opacity: 0;
}
body .container #homepage #name {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container #homepage #name .v {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .container #homepage #name h1 {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  font-family: "Abril Fatface";
  letter-spacing: 8px;
  text-align: center;
  font-size: 70px;
  color: white;
}
body .container #homepage #name h2 {
  opacity: 0;
  font-family: "Quicksand";
  text-align: center;
  font-weight: 100;
  letter-spacing: 12px;
  font-size: 35px;
  color: white;
  /* text-shadow: 2px 2px $marrone; */
}
body .container #homepage #name img {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
body .container #homepage #name.mobile {
  flex-direction: column;
  position: absolute;
  top: 150px;
}
body .container #homepage #name.mobile h1 {
  font-size: 50px;
}
body .container #homepage #name.mobile h2 {
  font-size: 22px;
}
body .container #homepage #name.mobile img {
  margin-top: 10px;
  height: 65px;
  overflow: hidden;
}
body .container #homepage #name.desktop {
  flex-direction: row;
  position: absolute;
  top: 15vh;
}
body .container #homepage #name.desktop img {
  height: 100px;
  margin-right: 40px;
  margin-top: 20px;
}
body .container #portfolio {
  width: 100%;
  height: 100%;
  background-color: #f8f4f1;
}
body .container #portfolio .image-container {
  overflow: hidden;
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 0%;
  height: 100%;
  transition: all 1s;
}
body .container #portfolio .image-container img {
  width: 100%;
  height: 100%;
  opacity: 0;
  -o-object-fit: cover;
     object-fit: cover;
  transition: filter 0.3s ease, opacity 1s ease;
}
body .container #portfolio .text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: transparent;
  display: flex;
  font-family: "Abril fatface";
  justify-content: center;
  align-items: center;
  font-size: 70px;
  color: #e6947c;
  letter-spacing: 5px;
  opacity: 0;
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}
body .container #portfolio #start.desktop {
  width: 100%;
  height: 100%;
  transition: all 1s;
}
body .container #portfolio #caption.desktop {
  width: 100%;
  height: 100%;
  transition: all 1s;
}
body .container #portfolio #second.desktop {
  width: 100%;
  height: 0%;
  transition: all 1s;
}
body .container #portfolio h1 {
  font-size: 70px;
  color: #e6947c;
  letter-spacing: 5px;
}
body .container #portfolio #second.mobile {
  height: 67%;
}
body .container #portfolio #start.mobile {
  height: 33%;
}
body .container #portfolio #caption.mobile {
  height: 0%;
  overflow: hidden;
}
body .container #portfolio .h.mobile {
  flex-direction: column;
}
body .container #portfolio .image-container.mobile {
  overflow: hidden;
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 1s;
}
body .container #portfolio .image-container img.mobile {
  width: 100%;
  height: 100%;
  opacity: 0;
  -o-object-fit: cover;
     object-fit: cover;
  transition: filter 0.3s ease, opacity 1s ease;
}
body .container #portfolio .text-overlay.mobile {
  font-size: 30px;
  color: #fad8c4;
  letter-spacing: 4px;
  align-items: end;
  justify-content: end;
  margin-bottom: 20px;
  margin-right: 20px;
  transition: opacity 1s ease-in;
}
body .container #portfolio.mobile {
  flex-direction: column;
}
body .container #about {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #cfcdcb;
  justify-content: center;
  align-items: center;
}
body .container #about img {
  height: 80vh;
}
body .container #about .h {
  overflow: hidden;
  background-color: #f8f4f1;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 100%;
}
body .container #about #descrizione {
  transition: height 1s ease-out;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body .container #about #descrizione h1 {
  padding-top: 10%;
  transition: font-size 2.5s ease-in-out, opacity 2.5s ease-in-out;
  font-family: "Abril fatface", sans-serif;
  font-size: 130px;
  font-weight: 700;
  opacity: 0.85;
}
body .container #about #descrizione h2 {
  opacity: 0;
  transition: opacity 1s ease-in;
  font-size: 45px;
  padding-top: 10px;
  font-weight: 400;
  padding-bottom: 20px;
}
body .container #about #descrizione p {
  opacity: 0;
  transition: opacity 1s ease-in, padding-top 1s ease-out;
  font-size: 19px;
  padding-top: 5px;
  font-weight: 200;
  padding-left: 20px;
  padding-right: 20px;
}
body .container #contatti {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #ffd700;
}
body .container #prodotti {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #a3ff84;
}
body .container #link {
  font-size: 25px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: end;
}
body .container #link a {
  padding-top: 15px;
  color: #0a2c4f;
  font-family: "Zector", sans-serif;
  text-decoration: none;
  font-weight: 900;
}
body .container #link a:hover {
  text-shadow: 1px 1px #0a2c4f;
  color: rgb(7, 85, 85);
}
body .container footer {
  color: black;
  font-family: "Zector", sans-serif;
}/*# sourceMappingURL=styles.css.map */