@font-face {
    font-family: 'Fernanta';
    src: url('../fonts/FERNANTA.ttf') format('truetype');
    /* You can include other font formats (e.g., woff, woff2) for better browser compatibility */
}

@font-face {
    font-family: 'gary_script';
    src: url('../fonts/gary_script.ttf') format('truetype');
    /* You can include other font formats (e.g., woff, woff2) for better browser compatibility */
}

@font-face {
    font-family: 'Zector';
    src: url('../fonts/Zector.ttf') format('truetype');
    /* You can include other font formats (e.g., woff, woff2) for better browser compatibility */
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Abril+Fatface&display=swap');

@mixin align-center {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

@mixin layer-1 {
    transform: translateZ(-200px) scale(2);
}

* {
    margin: 0px;
    padding: 0px;
}

/* colori base */
$marrone: #3d2419;
$marrone-chiaro: darken(#e6947c, 50%);
$pesca-scuro: #f7b797;
$pesca-chiaro: #fad8c4;
$grigio-chiaro: #f8f4f1;
$grigio-scuro: #cfcdcb;

/* colori aggiuntivi */
$verde-scuro: #006d32;
$verde-chiaro: #a3ff84;
$blu-scuro: #0a2c4f;
$giallo-scuro: #ffd700;
$arancione-scuro: #ff5733;
$arancione-chiaro: #ffb46e;

body {

    .container {
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 200px;
        width: 100vw;
        height: 100vh;

        img {
            display: flex;
            object-fit: cover;
            border: #cfcdcb;
            border-width: 2px;
        }

        .h {
            display: flex;
            flex-direction: row;
        }

        .v {
            display: flex;
            flex-direction: column;
        }

        /* test */
        img {
            height: 220px;
            padding-bottom: 15px;
        }

        h1 {
            font-family: 'Abril Fatface';
            text-align: center;
            font-size: 60px;
            color: $pesca-scuro;
            text-shadow: 2px 2px $marrone-chiaro;
        }

        .group {
            width: 100vw;
            height: 100vh;
            position: relative;
            transform-style: preserve-3d;
        }

        #bg {
            width: 100vw;
            height: 100vh;
            object-fit: cover;
        }

        .caption {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            background-color: $grigio-chiaro;
        }

        .desktop {
            flex-direction: row;

            a {
                padding-left: 30px;
                padding-right: 30px;
            }
        }

        .mobile {
            flex-direction: column;
        }

        .scroll-link {
            position: relative;
            color: white;
            font-family: 'Quicksand', sans-serif;
            font-weight: 200;
            letter-spacing: 3px;
            text-decoration: none;

            &:hover {
                font-weight: 400;
                color: #e6947c;
                text-shadow: 1px 1px white;
            }
        }

        #homepage {
            @include align-center;
            @include layer-1;
            z-index: 1;

            #bg {
                width: 100%;
                height: 100%;
                z-index: -1;
                padding-bottom: 0px;
            }

            #menu {
                position: absolute;
                justify-content: center;
                position: absolute;
                top: 8vh;
                display: flex;
                font-size: 25px;

                p {
                    color: $pesca-chiaro;
                }
            }

            #logo {    
                position: absolute;
                display: flex;
                flex-direction: column;
                @include align-center;
                top: 30vh;
                z-index: 1;
                height: auto;
                width: auto;

                img {
                    height: 220px;
                    width: 220px;
                    padding-bottom: 15vh;
                }

                h1 {
                    padding-left: 5px;
                    background-color: black;
                    font-family: 'Abril Fatface';
                    letter-spacing: 5px;
                    text-align: center;
                    font-size: 60px;
                    color: white;
                    text-shadow: 2px 2px $pesca-scuro;
                }

                h2 {
                    padding-left: 15px;
                    background-color: #6e9a75;
                    font-family: "Quicksand";
                    text-align: center;
                    font-weight: 100;
                    letter-spacing: 10px;
                    font-size: 35px;
                    color: white;
                    /* text-shadow: 2px 2px $marrone; */
                    padding-bottom: 10px;
                }
            }
        }

        #portfolio {
            @include align-center;
            z-index: 1; // Set a higher z-index
            h1 {
                font-size: 45px;
                text-shadow: 2px 2px #89290E;
            }
        }

        #about {
            @include align-center;
            background-color: #ff5733;
            z-index: 0; // Set a lower z-index
        }

        #contatti {
            @include align-center;
            background-color: #ffd700;
        }

        #prodotti {
            @include align-center;
            background-color: #a3ff84;
        }

        #link {
            font-size: 25px;
            @include align-center;
            justify-content: end;

            a {
                padding-top: 15px;
                color: $blu-scuro;
                font-family: 'Zector', sans-serif;
                text-decoration: none;
                font-weight: 900;

                &:hover {
                    text-shadow: 1px 1px $blu-scuro;
                    color: rgb(7, 85, 85);
                }
            }
        }

        footer {
            color: black;
            font-family: 'Zector', sans-serif;
        }
    }
}