@font-face {
    font-family: 'Fernanta';
    src: url('../fonts/FERNANTA.ttf') format('truetype');
    /* You can include other font formats (e.g., woff, woff2) for better browser compatibility */
}

@font-face {
    font-family: 'gary_script';
    src: url('../fonts/gary_script.ttf') format('truetype');
    /* You can include other font formats (e.g., woff, woff2) for better browser compatibility */
}

@font-face {
    font-family: 'Super_Indie';
    src: url('../fonts/Super_Indie.ttf') format('truetype');
    /* You can include other font formats (e.g., woff, woff2) for better browser compatibility */
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Abril+Fatface&display=swap');

@mixin align-center {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

* {
    margin: 0px;
    padding: 0px;
}

/* colori base */
$marrone: #3d2419;
$marrone-chiaro: darken(#e6947c, 50%);
$pesca-scuro: #f7b797;
$pesca-chiaro: #fad8c4;
$grigio-chiaro: #f8f4f1;
$grigio-scuro: #cfcdcb;

/* colori aggiuntivi */
$verde-scuro: #006d32;
$verde-chiaro: #a3ff84;
$blu-scuro: #0a2c4f;
$giallo-scuro: #ffd700;
$arancione-scuro: #ff5733;
$arancione-chiaro: #ffb46e;

body {
    display: flex;
    flex-direction: column;
    height: 200vh;
    overflow-y: scroll;

    .scroll-down-container {
        z-index: -1;
        position: fixed;

        .scroll-down {
            opacity: 1;
            overflow-x: hidden;
            overflow-y: scroll;
            width: 100vw;
            height: 100vh;
            position: relative;
            background-color: #cfcdcb;
            bottom: 0;
            left: 0;
            z-index: 1;

            .logo-instructions {
                height: 65%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
            }

            .logo-instructions.mobile {
                height: 70%;
            }

            .istruzioni {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                background-color: #f8f4f1;
                width: 80%;

                img.desktop {
                    width: 80px;
                    margin-right: 40px;
                    margin-top: 40px;
                    margin-bottom: 40px;
                }

                p {
                    font-size: 30px;
                    font-family: 'Super_Indie', sans-serif;
                    padding-bottom: 10px;
                    color: #2b2b2b;
                }

                .v {
                    display: flex;
                    flex-direction: column;
                }

            }

            .istruzioni.mobile {
                flex-direction: column;
                width: 100%;
                padding-bottom: 10px;

                p {
                    font-size: 20px;
                    font-family: 'Super_Indie', sans-serif;
                    padding-bottom: 10px;
                    color: #2b2b2b;
                }

                img {
                    width: 80px;
                    padding-top: 20px;
                    margin-bottom: 20px;
                    margin-right: 0px;
                }
            }

            .arrow {
                height: 35%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;

                .h {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    .text {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                    }

                    p {
                        font-size: 30px;
                        font-family: 'Super_Indie', sans-serif;
                        color: #2b2b2b;
                        padding-bottom: 6px;
                        padding-top: 6px;
                    }

                    .akima {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: whitesmoke;
                        border-radius: 4px;
                        padding-left: 7px;
                        padding-right: 7px;
                        padding-top: 3px;
                        padding-bottom: 3px;
                        margin-right: 40px;

                        p {
                            font-size: 30px;
                            font-family: 'Super_Indie', sans-serif;
                            color: #2b2b2b;
                        }

                        img {
                            height: 60px;
                            width: 60px;
                        }
                    }
                }

                .scroll-down-arrow {
                    opacity: 1;
                    height: 65px;
                    color: #2b2b2b;
                    object-fit: contain;
                }

            }

            .arrow.mobile {
                height: 30%;
            }

            .name {
                padding-top: 40px;
                display: flex;
                justify-content: center;
                align-items: center;

                .v {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                h1 {
                    transition: opacity 1.5s ease-in-out;
                    font-family: 'Abril Fatface';
                    letter-spacing: 12px;
                    text-align: center;
                    font-size: 60px;
                    color: black;

                }

                h2 {
                    font-family: "Quicksand";
                    text-align: center;
                    font-weight: 100;
                    letter-spacing: 9px;
                    font-size: 35px;
                    color: black;
                    /* text-shadow: 2px 2px $marrone; */
                }

                img {
                    transition: opacity 1s ease-in-out;
                }
            }

            .name.mobile {
                flex-direction: column;

                h1 {
                    font-size: 50px;
                }

                h2 {
                    font-size: 22px;
                    margin-bottom: 10px;
                }

                img {
                    margin-top: 10px;
                    height: 65px;
                    overflow: hidden;
                }
            }

            .name.desktop {
                flex-direction: row;

                img {
                    height: 100px;
                    margin-right: 40px;
                    margin-top: 20px;
                }
            }

            .loader {
                position: absolute;
                top: 0px;
                display: flex;
                overflow-x: hidden;
                overflow-y: visible;
                width: 100vw;
                height: 100vh;
                background-color: #f7b797;
                align-items: center;
                justify-content: center;
                transition: height 0.7s ease-in-out;
                z-index: 2;

                .v {
                    display: flex;
                    flex-direction: column;
                }

                p {
                    display: flex;
                    align-self: center;
                    font-family: 'Super_Indie', sans-serif;
                    font-size: 50px;
                    transition: font-size 0.5s ease-out;
                }

                .progress-bar {
                    width: 50vw;
                    background-color: $grigio-chiaro;
                    height: 20px;
                    border-radius: 10px;
                    overflow: hidden;
                    margin-top: 20px;
                    transition: height 0.5s ease-out;

                    .progress {
                        width: 0%;
                        height: 100%;
                        background-color: $pesca-chiaro;
                    }
                }

                .progress-bar.mobile {
                    width: 85vw;
                }
            }
        }
    }

    .bottom-div {
        display: flex;
        overflow-y: hidden;
        height: 2.5vh;
        font-size: 10px;
        background-color: #cfcdcb;
        align-items: center;
        justify-content: center;

        .h {
            display: flex;
            flex-direction: row;
        }

        #link {
            width: 100%;
            opacity: 0;

            a {
                color: $blu-scuro;
                font-family: 'Super_Indie', sans-serif;
                text-decoration: none;
                font-weight: 900;
            }

            a.desktop:hover {
                text-shadow: 1px 1px $blu-scuro;
                color: rgb(7, 85, 85);
            }

            footer {
                color: black;
                font-family: 'Super_Indie', sans-serif;
            }

        }

        footer.mobile {
            width: 50vw;
            text-align: center;
            padding-right: 5vw;
        }

        a.mobile {
            width: 50vw;
            text-align: center;
            padding-left: 5vw;
        }

        footer.desktop {
            padding-right: 5vw;
            padding-right: 5vw;
        }

        a.desktop {
            padding-left: 5vw;
            padding-right: 5vw;
        }

        #link.desktop {
            justify-content: center;
        }
    }

    .container {
        opacity: 0;
        position: absolute;
        top: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
        perspective: 200px;
        width: 100vw;
        height: 0vh;
        transition: height 0.7s ease-in-out;

        .h {
            display: flex;
            flex-direction: row;
        }

        .v {
            display: flex;
            flex-direction: column;
        }

        .group {
            touch-action: pan-y;
            z-index: -1;
            width: 100vw;
            height: 100vh;
            position: relative;
            transform-style: preserve-3d;
        }

        #bg {
            width: 100vw;
            height: 100vh;
            object-fit: cover;
        }

        .caption {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            background-color: $grigio-chiaro;
            font-family: 'Abril Fatface';
        }

        #homepage {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            object-fit: cover;

            #bg.desktop {
                width: 100vw;
                height: 100vh;
                object-fit: cover;
            }

            #bg.mobile {
                width: 100vw;
                height: 100vh;
            }

            #menu {
                z-index: 3;
                opacity: 0;
                transition: opacity 1.5s ease-in-out;
                position: absolute;
                justify-content: center;
                position: absolute;
                top: 8vh;
                display: flex;
                font-size: 25px;

                p {
                    color: $pesca-chiaro;
                }
            }

            #menu.mobile {
                flex-direction: column;
                top: 4vh;
                text-align: center;

                p {
                    height: 8px;
                    overflow: hidden;
                    opacity: 0;
                }
            }

            #name {
                display: flex;
                justify-content: center;
                align-items: center;

                .v {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                h1 {
                    opacity: 0;
                    transition: opacity 1.5s ease-in-out;
                    font-family: 'Abril Fatface';
                    letter-spacing: 12px;
                    text-align: center;
                    font-size: 60px;
                    color: white;

                }

                h2 {
                    opacity: 0;
                    font-family: "Quicksand";
                    text-align: center;
                    font-weight: 100;
                    letter-spacing: 9px;
                    font-size: 35px;
                    color: white;
                    /* text-shadow: 2px 2px $marrone; */
                }

                img {
                    opacity: 0;
                    transition: opacity 1s ease-in-out;
                }
            }

            #name.mobile {
                flex-direction: column;
                position: absolute;
                top: 22vh;

                h1 {
                    font-size: 50px;
                }

                h2 {
                    font-size: 22px;
                }

                img {
                    margin-top: 10px;
                    height: 65px;
                    overflow: hidden;
                }
            }

            #name.desktop {
                flex-direction: row;
                position: absolute;
                top: 15vh;

                img {
                    height: 100px;
                    margin-right: 40px;
                    margin-top: 20px;
                }
            }

            .scroll-link {
                position: relative;
                color: white;
                font-family: 'Quicksand', sans-serif;
                font-weight: 100;
                letter-spacing: 2px;
                text-decoration: none;
                z-index: 3;
            }

            .scroll-link.desktop {
                font-size: 20px;
                padding-left: 20px;
                padding-right: 20px;

                &:hover {
                    font-weight: 400;
                    color: #e6947c;
                    text-shadow: 1px 1px white;
                }
            }

            .scroll-link.mobile {
                font-size: 20px;
            }
        }

        #portfolio.desktop {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $grigio-chiaro;

            .image-container.desktop {
                overflow: hidden;
                position: relative;
                display: inline-block;
                justify-content: center;
                align-items: center;
                width: 0%;
                height: 100%;
                transition: all 1s;
            }

            .image-container img.desktop {
                width: 100%;
                height: 100%;
                opacity: 0;
                object-fit: cover;
                transition: filter 0.3s ease, opacity 1s ease;
            }

            .text-overlay.desktop {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
                color: transparent;
                display: flex;
                font-family: 'Abril fatface';
                justify-content: center;
                align-items: center;
                font-size: 70px;
                color: #e6947c;
                letter-spacing: 5px;
                opacity: 0;
                transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
                cursor: pointer;
            }

            #start.desktop {
                width: 100%;
                height: 100%;
                transition: all 1s;
            }

            #caption.desktop {
                width: 100%;
                height: 100%;
                transition: all 1s;
            }

            #second.desktop {
                width: 100%;
                height: 0%;
                transition: all 1s;
            }

            h1.desktop {
                font-size: 70px;
                color: #e6947c;
                letter-spacing: 5px;
            }
        }

        #portfolio.mobile {
            flex-direction: column;
            position: absolute;

            #second.mobile {
                height: 67%;
            }

            #start.mobile {
                height: 33%;
            }

            #caption.mobile {
                height: 0px;
                overflow: hidden;
            }

            .h.mobile {
                flex-direction: column;
            }

            .image-container.mobile {
                overflow: hidden;
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 33.4vh;
                transition: all 1s;
            }

            .image-container img.mobile {
                width: 90vw;
                height: 100%;
                opacity: 1;
                object-fit: cover;
            }

            .text-overlay.mobile {
                display: flex;
                font-size: 30px;
                color: $pesca-chiaro;
                width: 10vw;
                height: 100%;
                letter-spacing: 6px;
                transition: opacity 1s ease-in;
                color: #e6947c;
                justify-content: center;
                align-items: center;
                background-color: #f8f4f1;

                .text.mobile {
                    transition: transform 1.5s ease-out;
                    writing-mode: vertical-rl;
                    text-orientation: mixed;
                    white-space: nowrap;
                    transform: translateX(50px);
                }
            }
        }

        #about {
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            background-color: #cfcdcb;
            justify-content: center;
            align-items: center;

            .h.desktop {
                overflow: hidden;
                background-color: #f8f4f1;
                margin-left: 5vw;
                margin-right: 5vw;
                width: 100%;
                height: 80vh;

                img.desktop {
                    height: 100%;
                }

                #descrizione {
                    transition: height 3s ease-out, padding-top 2s ease-out;
                    display: flex;
                    position: relative;
                    width: 100%;
                    height: 35%;
                    flex-direction: column;
                    font-family: 'Quicksand', sans-serif;
                    align-items: center;
                    justify-content: start;
                    text-align: center;

                    h1 {
                        padding-top: 10px;
                        transition: font-size 2.5s ease-in-out, opacity 2.5s ease-in-out;
                        font-family: 'Abril fatface', sans-serif;
                        font-size: 130px;
                        font-weight: 700;
                        opacity: 0.85;
                    }

                    h2 {
                        opacity: 0;
                        transition: opacity 1s ease-in;
                        font-size: 45px;
                        padding-top: 10px;
                        font-weight: 400;
                        padding-bottom: 20px;
                    }

                    p {
                        opacity: 0;
                        transition: opacity 1s ease-in, padding-top 2s ease-out;
                        font-size: 19px;
                        padding-top: 5px;
                        font-weight: 200;
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
            }

            .h.mobile {
                flex-direction: column;
                overflow: hidden;
                background-color: #f8f4f1;
                margin-left: 5vw;
                margin-right: 5vw;
                width: 100%;
                height: 95vh;
                justify-content: start;

                img.mobile {
                    object-fit: cover;
                    height: 50%;
                    transition: height 2s ease-out;
                }

                #descrizione {
                    transition: height 2s linear, padding-top 2s ease-out;
                    display: flex;
                    position: relative;
                    width: 100%;
                    height: 50%;
                    flex-direction: column;
                    font-family: 'Quicksand', sans-serif;
                    align-items: center;
                    justify-content: start;
                    text-align: center;

                    h1 {
                        padding-top: 5px;
                        height: auto;
                        transition: font-size 2s ease-in-out, opacity 2.5s ease-in-out, height 2s ease-in-out;
                        font-family: 'Abril fatface', sans-serif;
                        font-size: 90px;
                        font-weight: 700;
                        opacity: 0.85;
                    }

                    h2 {
                        opacity: 0;
                        transition: opacity 1s ease-in;
                        font-size: 25px;
                        padding-top: 10px;
                        font-weight: 400;
                        padding-bottom: 20px;
                    }

                    p {
                        opacity: 0;
                        transition: opacity 1s ease-in, padding-top 1s ease-out, font-size 0.3s linear;
                        font-size: 17px;
                        padding-top: 5px;
                        font-weight: 200;
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
            }

        }

        #contatti {
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            background-color: #cfcdcb;
            justify-content: start;
            align-items: center;

            .h.desktop {
                display: flex;
                flex-direction: column;
                background-color: #f8f4f1;
                overflow: hidden;
                margin-left: 5vw;
                margin-right: 5vw;
                width: 100%;
                height: 80vh;
                align-items: center;
                justify-content: start;

                #title {
                    display: flex;
                    height: 7vh;
                    justify-content: center;
                    align-items: center;
                }
    
                h1 {
                    display: flex;
                    font-size: 5vh;
                    color: #2b2b2b;
                    font-family: 'Abril fatface', sans-serif;
                }

                .c.desktop {
                    transition: height 2s ease-out, opacity 3.5s ease-in;
                    height: 0%;
                    opacity: 0;
                    display: flex;
                    flex-direction: row;
                    width: 60%;
                    justify-content: start;
                    align-items: center;
                    font-family: 'Quicksand', sans-serif;
                    text-align: center;

                    img {
                        width: 100px;
                        margin-right: 8%;
                    }

                    p {
                        font-size: 20px;
                        margin-right: 2%;
                    }
                }
            }

            .h.mobile {
                flex-direction: column;
                overflow: hidden;
                background-color: #f8f4f1;
                margin-left: 5vw;
                margin-right: 5vw;
                width: 100%;
                height: 85vh;
                justify-content: start;
                align-items: center;

                #title {
                    display: flex;
                    height: 10vh;
                    justify-content: center;
                    align-items: center;
                }
    
                h1 {
                    display: flex;
                    font-size: 5vh;
                    color: #2b2b2b;
                    font-family: 'Abril fatface', sans-serif;
                }

                .c.mobile {
                    transition: height 2s ease-out, opacity 3.5s ease-in;
                    height: 0%;
                    opacity: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-family: 'Quicksand', sans-serif;
                    justify-content: center;

                    img {
                        width: 6vh;
                    }

                    p {
                        font-size: 19px;
                    }

                }
            }
        }

        #prodotti {
            @include align-center;
            background-color: #a3ff84;
        }


    }
}