@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Abril+Fatface&display=swap");
@font-face {
  font-family: "Fernanta";
  src: url("../fonts/FERNANTA.ttf") format("truetype");
  /* You can include other font formats (e.g., woff, woff2) for better browser compatibility */
}
@font-face {
  font-family: "gary_script";
  src: url("../fonts/gary_script.ttf") format("truetype");
  /* You can include other font formats (e.g., woff, woff2) for better browser compatibility */
}
@font-face {
  font-family: "Super_Indie";
  src: url("../fonts/Super_Indie.ttf") format("truetype");
  /* You can include other font formats (e.g., woff, woff2) for better browser compatibility */
}
* {
  margin: 0px;
  padding: 0px;
}

/* colori base */
/* colori aggiuntivi */
body {
  display: flex;
  flex-direction: column;
  height: 200vh;
  overflow-y: scroll;
}
body .scroll-down-container {
  z-index: -1;
  position: fixed;
}
body .scroll-down-container .scroll-down {
  opacity: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #cfcdcb;
  bottom: 0;
  left: 0;
  z-index: 1;
}
body .scroll-down-container .scroll-down .logo-instructions {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body .scroll-down-container .scroll-down .logo-instructions.mobile {
  height: 70%;
}
body .scroll-down-container .scroll-down .istruzioni {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f8f4f1;
  width: 80%;
}
body .scroll-down-container .scroll-down .istruzioni img.desktop {
  width: 80px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
body .scroll-down-container .scroll-down .istruzioni p {
  font-size: 30px;
  font-family: "Super_Indie", sans-serif;
  padding-bottom: 10px;
  color: #2b2b2b;
}
body .scroll-down-container .scroll-down .istruzioni .v {
  display: flex;
  flex-direction: column;
}
body .scroll-down-container .scroll-down .istruzioni.mobile {
  flex-direction: column;
  width: 100%;
  padding-bottom: 10px;
}
body .scroll-down-container .scroll-down .istruzioni.mobile p {
  font-size: 20px;
  font-family: "Super_Indie", sans-serif;
  padding-bottom: 10px;
  color: #2b2b2b;
}
body .scroll-down-container .scroll-down .istruzioni.mobile img {
  width: 80px;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-right: 0px;
}
body .scroll-down-container .scroll-down .arrow {
  height: 35%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
body .scroll-down-container .scroll-down .arrow .h {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body .scroll-down-container .scroll-down .arrow .h .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .scroll-down-container .scroll-down .arrow .h p {
  font-size: 30px;
  font-family: "Super_Indie", sans-serif;
  color: #2b2b2b;
  padding-bottom: 6px;
  padding-top: 6px;
}
body .scroll-down-container .scroll-down .arrow .h .akima {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 4px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: 40px;
}
body .scroll-down-container .scroll-down .arrow .h .akima p {
  font-size: 30px;
  font-family: "Super_Indie", sans-serif;
  color: #2b2b2b;
}
body .scroll-down-container .scroll-down .arrow .h .akima img {
  height: 60px;
  width: 60px;
}
body .scroll-down-container .scroll-down .arrow .scroll-down-arrow {
  opacity: 1;
  height: 65px;
  color: #2b2b2b;
  -o-object-fit: contain;
     object-fit: contain;
}
body .scroll-down-container .scroll-down .arrow.mobile {
  height: 30%;
}
body .scroll-down-container .scroll-down .name {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .scroll-down-container .scroll-down .name .v {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .scroll-down-container .scroll-down .name h1 {
  transition: opacity 1.5s ease-in-out;
  font-family: "Abril Fatface";
  letter-spacing: 12px;
  text-align: center;
  font-size: 60px;
  color: black;
}
body .scroll-down-container .scroll-down .name h2 {
  font-family: "Quicksand";
  text-align: center;
  font-weight: 100;
  letter-spacing: 9px;
  font-size: 35px;
  color: black;
  /* text-shadow: 2px 2px $marrone; */
}
body .scroll-down-container .scroll-down .name img {
  transition: opacity 1s ease-in-out;
}
body .scroll-down-container .scroll-down .name.mobile {
  flex-direction: column;
}
body .scroll-down-container .scroll-down .name.mobile h1 {
  font-size: 50px;
}
body .scroll-down-container .scroll-down .name.mobile h2 {
  font-size: 22px;
  margin-bottom: 10px;
}
body .scroll-down-container .scroll-down .name.mobile img {
  margin-top: 10px;
  height: 65px;
  overflow: hidden;
}
body .scroll-down-container .scroll-down .name.desktop {
  flex-direction: row;
}
body .scroll-down-container .scroll-down .name.desktop img {
  height: 100px;
  margin-right: 40px;
  margin-top: 20px;
}
body .scroll-down-container .scroll-down .loader {
  position: absolute;
  top: 0px;
  display: flex;
  overflow-x: hidden;
  overflow-y: visible;
  width: 100vw;
  height: 100vh;
  background-color: #f7b797;
  align-items: center;
  justify-content: center;
  transition: height 0.7s ease-in-out;
  z-index: 2;
}
body .scroll-down-container .scroll-down .loader .v {
  display: flex;
  flex-direction: column;
}
body .scroll-down-container .scroll-down .loader p {
  display: flex;
  align-self: center;
  font-family: "Super_Indie", sans-serif;
  font-size: 50px;
  transition: font-size 0.5s ease-out;
}
body .scroll-down-container .scroll-down .loader .progress-bar {
  width: 50vw;
  background-color: #f8f4f1;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  transition: height 0.5s ease-out;
}
body .scroll-down-container .scroll-down .loader .progress-bar .progress {
  width: 0%;
  height: 100%;
  background-color: #fad8c4;
}
body .scroll-down-container .scroll-down .loader .progress-bar.mobile {
  width: 85vw;
}
body .bottom-div {
  display: flex;
  overflow-y: hidden;
  height: 2.5vh;
  font-size: 10px;
  background-color: #cfcdcb;
  align-items: center;
  justify-content: center;
}
body .bottom-div .h {
  display: flex;
  flex-direction: row;
}
body .bottom-div #link {
  width: 100%;
  opacity: 0;
}
body .bottom-div #link a {
  color: #0a2c4f;
  font-family: "Super_Indie", sans-serif;
  text-decoration: none;
  font-weight: 900;
}
body .bottom-div #link a.desktop:hover {
  text-shadow: 1px 1px #0a2c4f;
  color: rgb(7, 85, 85);
}
body .bottom-div #link footer {
  color: black;
  font-family: "Super_Indie", sans-serif;
}
body .bottom-div footer.mobile {
  width: 50vw;
  text-align: center;
  padding-right: 5vw;
}
body .bottom-div a.mobile {
  width: 50vw;
  text-align: center;
  padding-left: 5vw;
}
body .bottom-div footer.desktop {
  padding-right: 5vw;
  padding-right: 5vw;
}
body .bottom-div a.desktop {
  padding-left: 5vw;
  padding-right: 5vw;
}
body .bottom-div #link.desktop {
  justify-content: center;
}
body .container {
  opacity: 0;
  position: absolute;
  top: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  perspective: 200px;
  width: 100vw;
  height: 0vh;
  transition: height 0.7s ease-in-out;
}
body .container .h {
  display: flex;
  flex-direction: row;
}
body .container .v {
  display: flex;
  flex-direction: column;
}
body .container .group {
  touch-action: pan-y;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: relative;
  transform-style: preserve-3d;
}
body .container #bg {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
body .container .caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f8f4f1;
  font-family: "Abril Fatface";
}
body .container #homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
body .container #homepage #bg.desktop {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
body .container #homepage #bg.mobile {
  width: 100vw;
  height: 100vh;
}
body .container #homepage #menu {
  z-index: 3;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  position: absolute;
  justify-content: center;
  position: absolute;
  top: 8vh;
  display: flex;
  font-size: 25px;
}
body .container #homepage #menu p {
  color: #fad8c4;
}
body .container #homepage #menu.mobile {
  flex-direction: column;
  top: 4vh;
  text-align: center;
}
body .container #homepage #menu.mobile p {
  height: 8px;
  overflow: hidden;
  opacity: 0;
}
body .container #homepage #name {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container #homepage #name .v {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .container #homepage #name h1 {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  font-family: "Abril Fatface";
  letter-spacing: 12px;
  text-align: center;
  font-size: 60px;
  color: white;
}
body .container #homepage #name h2 {
  opacity: 0;
  font-family: "Quicksand";
  text-align: center;
  font-weight: 100;
  letter-spacing: 9px;
  font-size: 35px;
  color: white;
  /* text-shadow: 2px 2px $marrone; */
}
body .container #homepage #name img {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
body .container #homepage #name.mobile {
  flex-direction: column;
  position: absolute;
  top: 22vh;
}
body .container #homepage #name.mobile h1 {
  font-size: 50px;
}
body .container #homepage #name.mobile h2 {
  font-size: 22px;
}
body .container #homepage #name.mobile img {
  margin-top: 10px;
  height: 65px;
  overflow: hidden;
}
body .container #homepage #name.desktop {
  flex-direction: row;
  position: absolute;
  top: 15vh;
}
body .container #homepage #name.desktop img {
  height: 100px;
  margin-right: 40px;
  margin-top: 20px;
}
body .container #homepage .scroll-link {
  position: relative;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  z-index: 3;
}
body .container #homepage .scroll-link.desktop {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
body .container #homepage .scroll-link.desktop:hover {
  font-weight: 400;
  color: #e6947c;
  text-shadow: 1px 1px white;
}
body .container #homepage .scroll-link.mobile {
  font-size: 20px;
}
body .container #portfolio.desktop {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f8f4f1;
}
body .container #portfolio.desktop .image-container.desktop {
  overflow: hidden;
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 0%;
  height: 100%;
  transition: all 1s;
}
body .container #portfolio.desktop .image-container img.desktop {
  width: 100%;
  height: 100%;
  opacity: 0;
  -o-object-fit: cover;
     object-fit: cover;
  transition: filter 0.3s ease, opacity 1s ease;
}
body .container #portfolio.desktop .text-overlay.desktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: transparent;
  display: flex;
  font-family: "Abril fatface";
  justify-content: center;
  align-items: center;
  font-size: 70px;
  color: #e6947c;
  letter-spacing: 5px;
  opacity: 0;
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}
body .container #portfolio.desktop #start.desktop {
  width: 100%;
  height: 100%;
  transition: all 1s;
}
body .container #portfolio.desktop #caption.desktop {
  width: 100%;
  height: 100%;
  transition: all 1s;
}
body .container #portfolio.desktop #second.desktop {
  width: 100%;
  height: 0%;
  transition: all 1s;
}
body .container #portfolio.desktop h1.desktop {
  font-size: 70px;
  color: #e6947c;
  letter-spacing: 5px;
}
body .container #portfolio.mobile {
  flex-direction: column;
  position: absolute;
}
body .container #portfolio.mobile #second.mobile {
  height: 67%;
}
body .container #portfolio.mobile #start.mobile {
  height: 33%;
}
body .container #portfolio.mobile #caption.mobile {
  height: 0px;
  overflow: hidden;
}
body .container #portfolio.mobile .h.mobile {
  flex-direction: column;
}
body .container #portfolio.mobile .image-container.mobile {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33.4vh;
  transition: all 1s;
}
body .container #portfolio.mobile .image-container img.mobile {
  width: 90vw;
  height: 100%;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
body .container #portfolio.mobile .text-overlay.mobile {
  display: flex;
  font-size: 30px;
  color: #fad8c4;
  width: 10vw;
  height: 100%;
  letter-spacing: 6px;
  transition: opacity 1s ease-in;
  color: #e6947c;
  justify-content: center;
  align-items: center;
  background-color: #f8f4f1;
}
body .container #portfolio.mobile .text-overlay.mobile .text.mobile {
  transition: transform 1.5s ease-out;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  white-space: nowrap;
  transform: translateX(50px);
}
body .container #about {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #cfcdcb;
  justify-content: center;
  align-items: center;
}
body .container #about .h.desktop {
  overflow: hidden;
  background-color: #f8f4f1;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 100%;
  height: 80vh;
}
body .container #about .h.desktop img.desktop {
  height: 100%;
}
body .container #about .h.desktop #descrizione {
  transition: height 3s ease-out, padding-top 2s ease-out;
  display: flex;
  position: relative;
  width: 100%;
  height: 35%;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  align-items: center;
  justify-content: start;
  text-align: center;
}
body .container #about .h.desktop #descrizione h1 {
  padding-top: 10px;
  transition: font-size 2.5s ease-in-out, opacity 2.5s ease-in-out;
  font-family: "Abril fatface", sans-serif;
  font-size: 130px;
  font-weight: 700;
  opacity: 0.85;
}
body .container #about .h.desktop #descrizione h2 {
  opacity: 0;
  transition: opacity 1s ease-in;
  font-size: 45px;
  padding-top: 10px;
  font-weight: 400;
  padding-bottom: 20px;
}
body .container #about .h.desktop #descrizione p {
  opacity: 0;
  transition: opacity 1s ease-in, padding-top 2s ease-out;
  font-size: 19px;
  padding-top: 5px;
  font-weight: 200;
  padding-left: 20px;
  padding-right: 20px;
}
body .container #about .h.mobile {
  flex-direction: column;
  overflow: hidden;
  background-color: #f8f4f1;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 100%;
  height: 95vh;
  justify-content: start;
}
body .container #about .h.mobile img.mobile {
  -o-object-fit: cover;
     object-fit: cover;
  height: 50%;
  transition: height 2s ease-out;
}
body .container #about .h.mobile #descrizione {
  transition: height 2s linear, padding-top 2s ease-out;
  display: flex;
  position: relative;
  width: 100%;
  height: 50%;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  align-items: center;
  justify-content: start;
  text-align: center;
}
body .container #about .h.mobile #descrizione h1 {
  padding-top: 5px;
  height: auto;
  transition: font-size 2s ease-in-out, opacity 2.5s ease-in-out, height 2s ease-in-out;
  font-family: "Abril fatface", sans-serif;
  font-size: 90px;
  font-weight: 700;
  opacity: 0.85;
}
body .container #about .h.mobile #descrizione h2 {
  opacity: 0;
  transition: opacity 1s ease-in;
  font-size: 25px;
  padding-top: 10px;
  font-weight: 400;
  padding-bottom: 20px;
}
body .container #about .h.mobile #descrizione p {
  opacity: 0;
  transition: opacity 1s ease-in, padding-top 1s ease-out, font-size 0.3s linear;
  font-size: 17px;
  padding-top: 5px;
  font-weight: 200;
  padding-left: 20px;
  padding-right: 20px;
}
body .container #contatti {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #cfcdcb;
  justify-content: start;
  align-items: center;
}
body .container #contatti .h.desktop {
  display: flex;
  flex-direction: column;
  background-color: #f8f4f1;
  overflow: hidden;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 100%;
  height: 80vh;
  align-items: center;
  justify-content: start;
}
body .container #contatti .h.desktop #title {
  display: flex;
  height: 7vh;
  justify-content: center;
  align-items: center;
}
body .container #contatti .h.desktop h1 {
  display: flex;
  font-size: 5vh;
  color: #2b2b2b;
  font-family: "Abril fatface", sans-serif;
}
body .container #contatti .h.desktop .c.desktop {
  transition: height 2s ease-out, opacity 3.5s ease-in;
  height: 0%;
  opacity: 0;
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: start;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}
body .container #contatti .h.desktop .c.desktop img {
  width: 100px;
  margin-right: 8%;
}
body .container #contatti .h.desktop .c.desktop p {
  font-size: 20px;
  margin-right: 2%;
}
body .container #contatti .h.mobile {
  flex-direction: column;
  overflow: hidden;
  background-color: #f8f4f1;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 100%;
  height: 85vh;
  justify-content: start;
  align-items: center;
}
body .container #contatti .h.mobile #title {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
}
body .container #contatti .h.mobile h1 {
  display: flex;
  font-size: 5vh;
  color: #2b2b2b;
  font-family: "Abril fatface", sans-serif;
}
body .container #contatti .h.mobile .c.mobile {
  transition: height 2s ease-out, opacity 3.5s ease-in;
  height: 0%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  justify-content: center;
}
body .container #contatti .h.mobile .c.mobile img {
  width: 6vh;
}
body .container #contatti .h.mobile .c.mobile p {
  font-size: 19px;
}
body .container #prodotti {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #a3ff84;
}/*# sourceMappingURL=styles.css.map */